/* BOXES / ROWS */

.row {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  background-color: #060606;
}

.box {
  display: inline-flex;
  float: left;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: 75%;
  width: 5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  background-color: silver;
}

/* STATUS */

.null {
  background-color: #060606;
}

.pre {
  background-color: silver;
}

.in-progress {
  background-color: red;
}

.complete {
  background-color: green;
}
