/* BOXES / ROWS */

body {
  font-family: "Yantramanav", sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  text-transform: uppercase;
  /* background-color: #060606; */
}

#container {
  max-width: 900px;
  min-width: 900px;
  min-height: 600px;
  max-height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row {
  height: 3.5rem;
  width: 100%;
  margin-top: 0.75%;
  background-color: #060606;
  transform: skew(-6deg);
}

.top {
  height: 100% !important;
  margin-top: 0% !important;
  background-color: transparent !important;
  color: silver;
}

.box {
  display: inline-flex;
  float: left;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 7.36%;
  height: 75%;
  margin-top: 0.89%;
  margin-left: 0.94%;
  margin-right: 0.75%;
  background-color: silver;
}

/* STATUS */

.null {
  background-color: #060606;
}

.pre {
  background-color: silver;
}

.in-progress {
  background-color: red;
}

.complete {
  background-color: green;
}
